{% extends "../index.html" %}
{% load static from staticfiles %}    
{% block css %}
<link href="{% static 'css/tables.css' %}" rel="stylesheet">
<link href="{% static 'css/tables_info.css' %}" rel="stylesheet">
<!-- <link href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css" rel="stylesheet"> -->
{% endblock %}


{% block content %}
<div class="flex-container-1">
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5">기업정보를 손쉽게 확인하세요</h1>
                    </div>
                </div>
            </div>
    </header>
</div>

<div class='flex-container-2'>

    <div class="flex-nav">
        <div class="side-menu-name">
            <h4>Information</h4>
        </div>
        <div class="menu-nav">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/information/rescue_list/">회생기업 리스트</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/information/dart_list/">Dart 기업정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">기업재무 정보</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-table">
        <div class="subtitle">
            <h1>{% block title %}{% endblock %}</h1>
            {% block search %}{% endblock %}
        </div>
        {% block table %}
        {% endblock %}
    </div>
</div>
{% endblock %}